{% extends 'base.html.twig' %}

{% block title %}Hello ImagenController!
{% endblock %}

{% block principal %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>D:/Xampp-Symfony/htdocs/sym.local/src/Controller/ImagenController.php</code>
			</li>
			<li>Your template at
				<code>D:/Xampp-Symfony/htdocs/sym.local/templates/imagen/index.html.twig</code>
			</li>
		</ul>
		<table border="1">
			<th>Nombre</th>
			<th>Descripción</th>
			<th>N.Likes</th>
			<th>N.Visualizaciones</th>
			<th>N.Descargas</th>
			<th>Img</th>
			{% for imagen in imagenes %}
				<tr>
					<td>{{ imagen.getNombre() }}</td>
					<td>{{ imagen.getDescripcion() }}</td>
					<td>{{ imagen.getNumLikes() }}</td>
					<td>{{ imagen.getNumVisualizaciones() }}</td>
					<td>{{ imagen.getNumDownloads() }}</td>
					<td><img src="{{ asset(imagen.getUrlPortfolio()) }}" alt="Imagen" width="100" height="100"></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
