<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Página de Prueba</title>
	</head>
	<body>
		<header>
			<h1>
				<img src="{{ asset('images/index/gallery/1.jpg') }}" alt="Pruebas">Aplicación de ejemplo
			</h1>
		</header>
		<table border="1">
			<th>Nombre</th>
			<th>Descripción</th>
			<th>N.Likes</th>
			<th>N.Visualizaciones</th>
			<th>N.Descargas</th>
			{% for imagen in imagenes %}
				<tr>
					<td>{{ imagen.getNombre() }}</td>
					<td>{{ imagen.getDescripcion() }}</td>
					<td>{{ imagen.getNumLikes() }}</td>
					<td>{{ imagen.getNumVisualizaciones() }}</td>
					<td>{{ imagen.getNumDownloads() }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
